<ul class="collection">
    <li class="collection-item avatar">
        <i class="material-icons circle">person</i>
        <span class="title">Name</span>
        <p>
            {{card.name}}
        </p>
        <a href="#!" class="secondary-content">
            <i class="material-icons">grade</i>
        </a>
    </li>
    <li class="collection-item avatar">
        <i class="material-icons circle green">phone</i>
        <span class="title">Phone</span>
        <p>
            {{card.phone}}
        </p>
        <a href="#!" class="secondary-content">
            <i class="material-icons">grade</i>
        </a>
    </li>
    <li class="collection-item avatar">
        <i class="material-icons circle red">play_arrow</i>
        <span class="title">Title</span>
        <p>First Line

        </p>
        <a href="#!" class="secondary-content">
            <i class="material-icons">grade</i>
        </a>
    </li>
</ul>