<div class="col s7 m7  ">


    <ul class="collection">
        <li class="collection-item avatar">
            <i class="material-icons circle">person</i>
            <span class="title">Name</span>
            <p>
                {{card.name}}
            </p>
            <a href="#!" class="secondary-content">
                <i class="material-icons">grade</i>
            </a>
        </li>
        <li class="collection-item avatar">
            <i class="material-icons circle green">phone</i>
            <span class="title">Phone</span>
            <p>
                {{card.phone}}
            </p>
            <a href="#!" class="secondary-content">
                <i class="material-icons">grade</i>
            </a>
        </li>
        <li class="collection-item avatar">
            <i class="material-icons circle red">email</i>
            <span class="title">Email</span>
            <p>{{card.email}}

            </p>
            <a href="#!" class="secondary-content">
                <i class="material-icons">grade</i>
            </a>
        </li>
    </ul>
</div>