
<div class="container">
        <div class="row">
            <div ng-repeat="item in currentstories" class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="../app/images/story1.jpg">
                    </div>
                    <div>
                        <center>{{item.id}}</center>
                    </div>
                    <div>
                        <center>
                            <h3>{{item.title}}</h3>
                        </center>
                    </div>
                    <div class="card-content">
                        {{item.descr}}
                    </div>
                    <div class="card-action">
                        <a href="#">Read More</a>
                        <div class="icon-preview col s6 m3"><button class="material-icons dp48">share </button></div>
                    </div>
    
                </div>
            </div>
        </div>
    </div>